.contact-container .contact-title {
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
}

.contact-content {
    padding: 70px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background: rgba(37, 37, 33, .4);
    margin-bottom: 16px;
    border-top: 5px solid rgba(0, 0, 0, 0.7);
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37, 37, 33, .4);
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 16px;
    outline: none;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    width: 96px;
    font-family: 'Recursive', sans-serif;
    color: #000;
    border-radius: 0px;
    color: #fff;
    border: none;
    background-color: #000;
    outline: none;
}

@media(max-width: 890px) {
    
    .contact-content {
        padding: 30px !important;
    }

}

@media(max-width: 480px) {
    
    .contact-content {
        padding: 10px !important;
    }

}