.gallery {
    background-color: #000;
}

.gallery-container .gallery-title {
    color: #fff;
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
}

.gallery-content{
	position: relative;
	height: auto;
	width: 90%;
	margin: auto;
	padding: 45px 0;
	display: grid;
	grid-template-columns: auto auto auto auto; /*i write auto four time because we want four rows*/
	grid-gap: 2vh;
	grid-auto-flow: dense;
}
.gallery-content .img{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9 );
	border-radius: 2px;
}
.gallery-content .img:first-child{
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.gallery-content .img:nth-child(2n+3){
	grid-row-start: span 2;
}
.gallery-content .img:nth-child(4n+5){
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.gallery-content .img:nth-child(6n+7){
	grid-row-start: span 1;
}
.gallery-content .img:nth-child(8n+9){
	grid-column-start: span 1;
	grid-row-start: span 1;
}
.gallery-content .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.5) grayscale(100);
	border-radius: 2px;
	transition: 0.3s ease-in-out;
}
.gallery-content .img:hover img{
	filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 768px){
	.gallery-content{
		display: grid;
		grid-template-columns: auto auto auto;
	}
}
@media only screen and (max-width: 430px){
	.gallery-content{
		display: block;
	}
	.gallery-content .img{
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.gallery-content .img img{
		display: block;
		filter: brightness(1) grayscale(0);
	}
}